<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="script"  th:src="@{../static/vue/vue.min.js}"/>-->
<!--    <link rel="script"-->

<!--    <link rel="script"  th:src="@{js/index.js}"/>-->
    <link data-main="/dubbing/main" th:src="@{/dubbing/require.js}">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>

<body>
    hello world!!!
    <div id="test">
    </div>
<!--    <script data-main="/dubbing/js/main" src="/dubbing/js/require.js"></script>-->
</body>

</html>
